<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Barberia.Properties.Settings.DBCitaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Cristopher-Software\Gestion-Cita\CapaDatos\DBCita.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sistema_Barberia.Properties.Settings.DBCitaConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jhoan\source\repos\Gestion-Cita\CapaDatos\DBCita.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>