<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Barberia.Properties.Settings.DBCitaConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Cristopher-Software\Gestion-Cita\CapaDatos\DBCita.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Sistema_Barberia.Properties.Settings.DBCitaConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jhoan\source\repos\Gestion-Cita\CapaDatos\DBCita.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Sistema_Barberia.Properties.Settings.C__CRISTOPHER_SOFTWARE_GESTION_CITA_CAPADATOS_DBCITA_MDFConnectionString" connectionString="Data Source=DESKTOP-0LAM0C8\SAFEPASS;Initial Catalog=C:\CRISTOPHER-SOFTWARE\GESTION-CITA\CAPADATOS\DBCITA.MDF;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
        <add name="Sistema_Barberia.Properties.Settings.C__CRISTOPHER_SOFTWARE_GESTION_CITA_CAPADATOS_DBCITA_MDFConnectionString1" connectionString="Data Source=DESKTOP-0LAM0C8\SAFEPASS;Initial Catalog=C:\CRISTOPHER-SOFTWARE\GESTION-CITA\CAPADATOS\DBCITA.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Sistema_Barberia.Properties.Settings.DBCitaConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\JAC-Software\Gestion-Cita\CapaDatos\DBCita.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Gestor_de_Citas.Properties.Settings.DBCitaConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\JAC-Software\Gestion-Cita\CapaDatos\DBCita.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Gestor_de_Citas.Properties.Settings.DBCitaConnectionStringSQLSERVER" connectionString="Data Source=sqlserver-gestor.database.windows.net;Initial Catalog=Gestor_Cita;Persist Security Info=True;User ID=sql-gestor;Password=@Cristopher13;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
        <add name="Gestor_de_Citas.Properties.Settings.Valor" connectionString="Data Source=34.102.42.63;Initial Catalog=Gestor_Cita;Persist Security Info=True;User ID=sqlserver;Password=H.TMM8pe+}u@7m+?;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.0" newVersion="7.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
